<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_ELjpoH1WaUtQ3aCqCvE1sfdug-cHKQI</string>
	<key>GCM_SENDER_ID</key>
	<string>71780941691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinhandev.bebest</string>
	<key>PROJECT_ID</key>
	<string>bebest-58b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>bebest-58b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71780941691:ios:1b594ebc2cb567f12547de</string>
</dict>
</plist>